.task-detail {
  display: block;
  max-width: 900px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;

  background-color: "#f2f2f7";
}

.task-detail__header {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  display: flex;
}

.task-detail__task-span {
  margin-top: 0.125rem;
  color: #68768c;
  flex-grow: 1;
}

.task-detail__main-content {
  margin-top: 2rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.task-detail__header .MuiIconButton-root {
  padding-top: 0;
  color: #505f78;
  font-size: 0.9rem;
  padding-right: 0.4rem;
}
