.task-card {
  width: 15rem;
  border: 2px ridge;
  background-color: "#edf3f1";
  display: inline-block;
}

.task-card .MuiCardHeader-root {
  padding-top: 10px;
  padding-left: 7px;
  padding-right: 4px;
}

.task-card .MuiCardContent-root {
  padding-left: 7px;
}

.task-card .MuiCardHeader-title {
  font-size: 1rem;
}

.task-card .MuiCardHeader-subheader {
  font-size: 0.9rem;
}

.task-card .MuiCardHeader-action {
  padding-right: 7px;
}

.task-card .MuiIconButton-root {
  padding: 0 0 0 0;
}

.task-card-action {
  margin-right: 0;
  padding-right: 7px !important;
  justify-content: space-between;
}

.task-card-action .MuiButton-root {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0 !important;
  margin-right: 0;
  width: 2px;
  font-size: 0.8rem;
  align-self: flex-end;
}

