.task-card {
  width: 15rem;
  border: 2px ridge;
  background-color: "#edf3f1";
  display: inline-block;
}

.task-card .MuiCardHeader-root {
  padding-top: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.task-card .MuiCardContent-root {
  padding-left: 0.5rem;
}

.task-card .MuiCardHeader-title {
  max-width: 9rem;
  font-size: 1rem;
}

.task-card .MuiCardHeader-subheader {
  font-size: 0.56rem;
}

.task-card .MuiCardHeader-action {
  padding-right: 0.44rem;
}

.task-card .MuiIconButton-root {
  padding: 0 0 0 0;
  margin-left: 4px;
  margin-right: 4px;
}

.task-card-action {
  margin-right: 0;
  padding-right: 0.44rem !important;
  justify-content: space-between;
}
