.task-assignment-property {
}

.task-assignment-property h2 {
  color: #606f86;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.task-assignment-property__status {
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  height: 2.4rem;
  width: 6rem;
  display: inline-flex;
  align-items: center;

  margin-top: 0;
  border-radius: 4px;
  display: flex;
}

.task-assignment-property__status p {
  margin: auto;
}

.task-assignment-property span {
  font-size: 0.9rem;
}

.task-assignment-property__assignee-display {
  margin-bottom: 0.25rem;
}

.task-assignment-property__order {
  display: flex;
}

.task-assignment-property__order h2 {
  flex-grow: 1;
}

.task-assignment-property__order span {
  color: #505f78;
}

.task-assignment-property__order .MuiIconButton-root {
  padding-top: 0;
  padding-right: 2rem;
}

