.drop-down-menu .MuiPaper-root {
  min-width: 1rem;
  min-height: 1rem;
}

.drop-down-menu .MuiList-root {
  padding-top: 0;
  padding-bottom: 0;
}

.drop-down-menu ul {
  padding-inline-start: 0%;
}

.drop-down-menu li {
  min-height: 3.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}

.drop-down-menu hr {
  margin-top: 0.15rem !important;
  margin-bottom: 0.15rem !important;
}
