.weekly-schedule {
  display: block !important;
  max-width: 900px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #ccc;

  background-color: "#f2f2f7";
}

.weekly-schedule__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weekly-schedule__date-button {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  width: 100%;
  padding: 0;
  cursor: pointer;
  background-color: #fff;
  font-size: 0.85rem;
}

.weekly-schedule__month-year-text {
  flex-grow: 12;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #047cfc;
  font-size: 1.2rem;
}

.weekly-schedule__day-date-block {
  flex-grow: 1;
  margin: auto;
}

.weekly-schedule__day-date-block p {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.weekly-schedule__dates {
  display: flex;
}

.weekly-schedule__date-wrapper {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;

  height: 2rem;
}

.weekly-schedule__scrollable-list {
  width: 77vw;
  overflow-x: auto;
  white-space: nowrap;
}

.weekly-schedule__reset_button {
  margin-top: 20px !important;
}
