.TaskRequestCard .MuiCardHeader-root {
  padding-top: 0.6rem;
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.TaskRequestCard .MuiCardContent-root {
  padding-left: 0.5rem;
}

.TaskRequestCard .MuiCardHeader-title {
  font-size: 1rem;
}

.TaskRequestCard .MuiCardHeader-subheader {
  font-size: 0.9rem;
}

.TaskRequestCard .MuiCardHeader-action {
  padding-right: 0.5rem;
}

.TaskRequestCard .MuiIconButton-root {
  padding: 0 0 0 0;
}

.TaskRequestCardAction {
  margin-right: 0;
  padding-right: 0.5rem !important;
  justify-content: space-between;
}

.TaskRequestCardAction .MuiButton-root {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0 !important;
  margin-right: 0;
  width: 0.125rem;
  font-size: 0.8rem;
  align-self: flex-end;
}

