.task-request-card {
  min-width: 320px;
  max-width: 30rem;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 1rem;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);

  display: block;
}

.task-request-card:hover {
  box-shadow: 0 16px 70px -12.125px rgba(0, 0, 0, 0.3);
}

.task-request-card__header {
  display: flex;
  padding-top: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.task-request-card__titles {
  display: block;
  flex: 1 1 auto;
  padding-top: 0;

  width: 75%;
}

.task-request-card__title {
  padding-right: 7px;
  font-size: 1rem;
  white-space: normal;
}

.task-request-card__sub-title {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.6);
}

.task-request-card__icon-buttons {
  flex: 0 0 auto;
  margin-top: 0;
  white-space: normal;
}

.task-request-card .MuiIconButton-root {
  padding: 0 0 0 0;
  margin-left: 8px;
  margin-right: 8px;
}

.task-request-card__content {
  display: flex;
  margin-top: 20px;
  padding-left: 0.7rem;
}

.task-request-card .MuiAvatarGroup-root {
  width: max-content;
}

.task-request-card__action {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding-top: 2px;
}

.task-request-card__accepted-span {
  color: #1b5e20;
}

.task-request-card__rejected-span {
  color: #b71c1c;
}

.task-request-card__pending-span {
  color: #e65100;
}
