.header .MuiToolbar-root {
  min-height: 4.5rem !important;
  padding-left: 2rem !important;
  padding-right: 1rem !important;
}

.header .MuiButton-root {
  padding: 0;
  padding-left: 0;
  min-width: 5rem;
  margin-left: 1rem;
}
